.App {
  height: 100 vh;
  width: 1217px;

  margin: 0 auto;
}

.header {
  height: 5rem;
  width: 100vw;
}

.header img {
  width: 220px;
  height: 80px;
  object-fit: contain;
}

.restaurant-presentation {
  height: 260px;
  width: 100 vw;
}

h1 {
  font-size: 32px;
  margin-top: 50px;
  color: #2e3333;
  font-weight: bold;
}

.restaurant-presentation p {
  font-size: 19px;
  color: #868a8a;
  line-height: 28px;
  width: 1355px;
}

.bottom-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom-element img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
  margin-left: 50px;
}

.details {
  border: black solid 2px;

  display: grid;
  grid-template-columns: 400px 400px;
}

.details > div {
  flex: 1;
}

.image {
  height: 160px;
  width: 4éàpx;

  margin-left: 15px;
}

.name-category h2 {
  margin-bottom: 25px;
  display: flex;
}

.categories {
  height: 230px;
  width: 850px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.image span {
  font-weight: bold;
  color: orangered;
}
